@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Viga&display=swap');
.dashboard-heading{
    font-family: Poppins;
}

.logo-text{
    font-family: Viga;
    letter-spacing: 4px;
}
